* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  scroll-behavior: smooth;
}

body {
  --primary-color: #303F9F;
  --text: 17, 17, 17;
  --text-light: 85, 85, 85;
  --foreground: 255, 255, 255;
  --background: #e8e8e8;
  --dark-shade: #dadada;
  background: var(--foreground);
  color: rgba(var(--text), 1);
  font-size: 16px;
  margin: 1.5rem;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: var(--primary-color);
}

.dark-text {
  color: #111;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.6rem 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.2em;
  color: var(--primary-color);
  -webkit-transition: -webkit-transform 0.3s, -webkit-clip-path 0.3s;
  transition: -webkit-transform 0.3s, -webkit-clip-path 0.3s;
  transition: transform 0.3s, clip-path 0.3s;
  transition: transform 0.3s, clip-path 0.3s, -webkit-transform 0.3s, -webkit-clip-path 0.3s;
  border: none;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
  background: rgba(var(--text), 0.1);
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: thin solid rgba(var(--text-light), 0.4);
}

button:disabled {
  cursor: default;
  background: rgba(var(--text-light), 1);
}

button:disabled ~ .loader {
  opacity: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:invalid {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

::-moz-focus-inner {
  border: none;
}

.bottom-padding {
  padding-bottom: 1em;
}

.top-padding {
  padding-top: 1em;
}

.bottom-margin {
  margin-bottom: 1em;
}

.top-margin {
  margin-top: 1em;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-2 {
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 1em;
}

.light-text {
  color: rgba(var(--text-light), 1);
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.hide-completely {
  display: none !important;
}

.breakable {
  word-break: break-all;
}

.separator {
  padding: .1em;
}

.no-transformations {
  -webkit-transform: none !important;
          transform: none !important;
}

.loader {
  fill: none;
  stroke-width: 10;
  stroke: var(--primary-color);
  height: 2rem;
  width: 2rem;
  overflow: visible;
  stroke-dashoffset: 230;
  stroke-dasharray: 230;
  padding: 2px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes load {
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -210;
  }
}

@keyframes load {
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -210;
  }
}

.animate-loader {
  -webkit-animation: load 2.6s infinite, rotate 1s infinite linear;
          animation: load 2.6s infinite, rotate 1s infinite linear;
}

.expand {
  width: 100%;
}

.fade-left {
  -webkit-animation: fadeleft 0.3s;
          animation: fadeleft 0.3s;
}

.fade-right {
  -webkit-animation: faderight 0.3s;
          animation: faderight 0.3s;
}

@-webkit-keyframes faderight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes faderight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeleft {
  from {
    opacity: 0;
    -webkit-transform: translateX(1em);
            transform: translateX(1em);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeleft {
  from {
    opacity: 0;
    -webkit-transform: translateX(1em);
            transform: translateX(1em);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

#logo {
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  gap: 0.6rem 0.2rem;
  margin-right: 1rem;
}

#logo h4 {
  letter-spacing: 0.06rem;
  word-spacing: 0.12rem;
  margin-top: 0.2rem;
}

#logo h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#logo #main_logo {
  height: 1.4rem;
  width: 1.4rem;
  fill: rgba(var(--text), 1);
  stroke: none;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0.8em;
  margin-bottom: 1.5em;
  border-radius: 0.2em;
  background: rgba(var(--text), 0.1);
  border: 0.1em solid transparent;
}

.input:last-of-type {
  margin-bottom: 0;
}

.input:focus-within {
  border: 0.1em solid var(--primary-color);
}

.input label {
  opacity: .7;
  font-weight: 500;
  font-size: 1em;
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform-origin: left;
          transform-origin: left;
  pointer-events: none;
  will-change: contents;
  text-transform: capitalize;
}

.input input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1rem;
  border: none;
  background: transparent;
  outline: none;
  color: rgba(var(--text), 1);
}

.animate-label input {
  -webkit-transform: translateY(0.5em);
          transform: translateY(0.5em);
}

.animate-label label {
  -webkit-transform: translateY(-60%) scale(0.7);
          transform: translateY(-60%) scale(0.7);
  opacity: 1;
  color: var(--primary-color);
}
.solid-background {
  background: var(--background) !important;
}

form {
  width: 100%;
}

.popup-container {
  display: -ms-grid;
  display: grid;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  place-items: center;
  background: rgba(0, 0, 0, 0.24);
  z-index: 10;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.popup-container .popup {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% - 2rem);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(var(--foreground), 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.24);
          box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.24);
  overflow-y: auto;
}

.popup-container .popup h5 {
  margin: 0.5rem 0;
}

.popup-container .popup button:first-of-type {
  margin-left: auto;
}

.popup-container .popup .container-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-bottom: 1.5rem;
}

.popup-container .popup .container-header .icon {
  cursor: pointer;
  padding-right: 0.4rem;
  stroke-width: 8;
}

.popup-container .popup .container-header .btn {
  padding: 0.6em 1.2em;
}

.popup-container .popup p {
  margin-bottom: 1.5rem !important;
}

#show_message {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.16);
          box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.16);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(var(--text), 1);
  position: fixed;
  right: 0;
  top: 0;
  width: calc(100% - 2rem);
  margin: 1rem;
  border-radius: 0.5rem;
  border: solid 1px rgba(var(--text), 0.2);
  max-width: 100%;
  z-index: 40;
  background: rgba(var(--foreground), 1);
}

#show_message #error_icon {
  fill: #E53935;
}

#show_message #done_icon {
  fill: #00C853;
}

#show_message .notification-icon {
  height: 2em;
  width: 2em;
  margin: 1em 0 1em 1em;
  fill: rgba(var(--text), 1);
}

#show_message div {
  padding: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#show_message div h5 {
  opacity: 0.8;
}

#show_message span {
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#show_message button {
  padding: 1rem;
  margin: 0 1em 0 0;
  border: none;
  background: none;
}

#show_message button svg {
  height: 1em;
  width: 1em;
  stroke: rgba(var(--text), 1);
  stroke-width: 6;
}

#confirmation, #prompt {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
}

#confirmation p, #prompt p {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(var(--rgb-bw), 1) !important;
}

#confirmation h4, #prompt h4 {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

#confirmation .input, #prompt .input {
  margin-bottom: 1rem;
}

#confirmation .btns, #prompt .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 100%;
}

#confirmation .btns button, #prompt .btns button {
  background: none;
}

#confirmation .btns button:first-of-type, #prompt .btns button:first-of-type {
  margin-right: 0.6em;
}
.primary-btn {
  background: var(--primary-color);
  padding: 0.8em 1.6em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(var(--foreground), 1);
}
.icon {
  height: 1.2rem;
  width: 1.2rem;
  fill: none;
  stroke: rgba(var(--text), 0.8);
  stroke-width: 6;
  overflow: visible;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.notification-dot::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 0.6em;
  width: 0.6em;
  background-color: #E53935;
  border-radius: 0.4em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.shrink.notification-dot::after {
  -webkit-transform: scale(0);
          transform: scale(0);
}
#textCopied {
  padding: 1rem;
  border-radius: 2rem;
  background: rgba(var(--foreground), 1);
  position: fixed;
  bottom: 0;
  pointer-events: none;
  margin: 2rem 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s opacity ease;
  transition: 0.3s opacity ease;
  z-index: 20;
}
.tabs {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1rem 0 1rem 0;
  background: rgba(var(--foreground), 1);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

.tabs .tab {
  cursor: pointer;
  opacity: 0.6;
  margin-right: 1.5rem;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  font-size: 1.1rem;
}

.tabs .tab:last-of-type {
  margin-right: 0;
}

.tabs .tab.active {
  opacity: 1;
}

.tabs .line {
  position: absolute;
  height: 0.12rem;
  background: rgba(var(--text), 1);
  width: 1px;
  bottom: 0;
  -webkit-transition: width 0.4s, -webkit-transform 0.4s;
  transition: width 0.4s, -webkit-transform 0.4s;
  transition: transform 0.4s, width 0.4s;
  transition: transform 0.4s, width 0.4s, -webkit-transform 0.4s;
}
@media only screen and (min-width: 640px) {
  .popup-container .popup {
    width: 24rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 0.2rem;
    height: auto;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  #show_message {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
    margin: 1rem;
    max-width: 60vw;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 0.2rem;
  }
}