<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="dist/select.js"></script>
    <script src="dist/form.js"></script>
    <script src="dist/popup.js"></script>
    <script src="dist/switch.js"></script>
    <script src="dist/checkbox.js"></script>
    <script src="dist/radio.js"></script>
    <script src="dist/input.js"></script>
    <script src="dist/textarea.js"></script>
    <script src="dist/text-field.js"></script>
    <script src="dist/button.js"></script>
    <script src="dist/menu.js"></script>
    <script src="dist/cube-loader.js"></script>
    <script src="dist/tags-input.js"></script>
    <script src="dist/strip-select.js"></script>
    <script src="dist/collapsed-text.js"></script>
    <link rel="stylesheet" href="css/main.min.css">
    <style>
        div {
            display: flex;
            padding: 4vmax;
        }

        body {
            overflow: auto;
        }
    </style>
</head>

<body>
    <button>Show popup</button>
    <collapsed-text>
        Loreetur adipisicing elit. Architecto minima maiores autem iusto porro, odit
        iure
        ea emus dolor itaque unde sequi, reprehenderit ex aperiam

        dinfgw egweb gnw

        slideInRightgsdgs
    </collapsed-text>
    <sm-popup>
        <input type="text" placeholder="fds">
        <button>dsfsd</button>
    </sm-popup>
    <text-field value="eetur adipisicing elit. Architecto minima maiores autem iusto porro, odit
    iure"></text-field>
</body>
<script>
    const popup = document.querySelector('sm-popup');
    const pPromise = popup.show({ payload: { opened: new Date() } })
    pPromise.opened.then((data) => {
        console.log('popup opened', data);
    });
    pPromise.closed.then((data) => {
        console.log('popup closed', data);
    });
    document.querySelector('button').addEventListener('click', () => {
        popup.show();
    });
</script>

</html>