<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="dist/select.js"></script>
    <script src="dist/form.js"></script>
    <script src="dist/popup.js"></script>
    <script src="dist/switch.js"></script>
    <script src="dist/checkbox.js"></script>
    <script src="dist/radio.js"></script>
    <script src="dist/input.js"></script>
    <script src="dist/textarea.js"></script>
    <script src="dist/button.js"></script>
    <script src="dist/menu.js"></script>
    <link rel="stylesheet" href="css/main.min.css">
    <style>
        div {
            display: flex;
            padding: 4vmax;
        }
    </style>
</head>

<body>
    <div>
        <sm-menu>
            <menu-option>Option 1</menu-option>
            <menu-option>Option 2</menu-option>
            <menu-option>Option 3</menu-option>
        </sm-menu>
    </div>
    <script>

    </script>
</body>

</html>