*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    font-size: clamp(1rem, 1.2vmax, 3rem);
}
html, body{
    height: 100%;
    scroll-behavior: smooth;
}
body {
    --accent-color: #4d2588;
    --text-color: 17, 17, 17;
    --text-color-light: 100, 100, 100;
    --foreground-color: 255, 255, 255;
    --background-color: #F6f6f6;
    --error-color: red;
    color: rgba(var(--text-color), 1);
    background: var(--background-color);
}
body[data-theme='dark']{
    --accent-color: #976dd6;
    --text-color: 240, 240, 240;
    --text-color-light: 170, 170, 170;
    --foreground-color: 20, 20, 20;
    --background-color: #0a0a0a;
    --error-color: rgb(255, 106, 106);
}
.full-bleed{
    grid-column: 1/4;
}
.h1{
    font-size: 2.5rem;
}
.h2{
    font-size: 2rem;
}
.h3{
    font-size: 1.4rem;
}
.h4{
    font-size: 1rem;
}
.h5{
    font-size: 0.8rem;
}

.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}

p {
    font-size: 0.8;
    max-width: 75ch;
    line-height: 1.7;
    margin-bottom: 1.5rem;
    color: rgba(var(--text-color), 0.8);
    &:not(:last-of-type){
        margin-bottom: 1rem;
    }
}
img{
    object-fit: cover;
}

a{
    color: inherit;
    text-decoration: none;
    &:focus-visible{
        box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 1) inset;
    }
}

button{
    display: inline-flex;
    border: none;
    background-color: inherit;
}

a:any-link:focus-visible{
    outline: rgba(var(--text-color), 1) 0.1rem solid;
}
sm-button{
    --border-radius: 0.3rem;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.hide{
    opacity: 0;
    pointer-events: none;
}
.hide-completely{
    display: none !important;
}
.no-transformations{
    transform: none !important;
}
.overflow-ellipsis{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.breakable{
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.grid-3{
    grid-template-columns: 1fr auto auto;
}
.flow-column{
    grid-auto-flow: column;
}
.gap-0-5{
    gap: 0.5rem;
}
.gap-1{
    gap: 1rem;
}
.gap-1-5{
    gap: 1.5rem;
}
.gap-2{
    gap: 2rem;
}
.gap-3{
    gap: 3rem;
}
.text-align-right{
    text-align: right;
}
.align-start{
    align-items: flex-start;
}
.align-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.justify-start{
    justify-content: start;
}
.justify-center{
    justify-content: center;
}
.justify-right{
    margin-left: auto;
}
.align-self-center{
    align-self: center;
}
.justify-self-center{
    justify-self: center;
}
.justify-self-start{
    justify-self: start;
}
.justify-self-end{
    justify-self: end;
}
.direction-column{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.w-100{
    width: 100%;
}
.color-0-8{
    color: rgba(var(--text-color), 0.8);
}
.weight-400{
    font-weight: 400;
}
.weight-500{
    font-weight: 500;
}
.ripple{
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    background: rgba(var(--text-color), 0.16);
    pointer-events: none;
}
.interact{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.observe-empty-state:empty{
    display: none;
}
.observe-empty-state:not(:empty) ~ .empty-state{
    display: none;
}


.icon{
    width: 1.5rem;
    height: 1.5rem;
    fill: rgba(var(--text-color), 0.9);
}
.button__icon{
    height: 1.2rem;
    width: 1.2rem;
    &--left{
        margin-right: 0.5rem;
    }
    &--right{
        margin-left: 0.5rem;
    }
}
.theme-switcher{
    position: relative;
    justify-self: flex-end;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    .icon{
        position: absolute;
        transition: transform 0.6s;
    }
}
.theme-switcher__checkbox{
    display: none;
    &:checked ~ .moon-icon{
        transform: scale(0) rotate(90deg);
    }
    &:not(:checked) ~ .sun-icon{
        transform: scale(0)  rotate(-90deg);
    }
}

//Syntax highlighting


pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #4395ff; } /* type - light blue */
pre .lit, code .lit { color: #1a76c2; } /* literal */
pre .pun, code .pun { color: rgba(var(--text-color), 0.8); } /* punctuation */
pre .pln, code .pln { color: rgba(var(--text-color), 0.8); } /* plaintext */
pre .tag, code .tag { color: #22863a; } /* html/xml tag */
pre .atn, code .atn { color: #005cc5; } /* html/xml attribute name */
pre .atv, code .atv { color: var(--accent-color); } /* html/xml attribute value*/
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre{
    max-width: 100%;
	margin: 1rem 0;
    padding: 0 1.5rem;
    overflow-x: auto;
    font-size: 0.9rem;
    white-space: pre-line;
    border-radius: 0.5rem;
    background: rgba(var(--text-color), .04);
}
code{
    font-family: 'Roboto Mono', monospace;
    border-radius: 0.2rem;
    font-weight: 400;
    padding: 0.2rem 0.4rem;
    background: rgba(var(--text-color), .04);
}
code > *{
    font-family: 'Roboto Mono', monospace;
}
pre code{
    line-height: 1.4;
    border-radius: none;
    background: none;
    width: 100%;
}

//
h1,h2,h3,h4.h5{
    font-family: 'Poppins', sans-serif;
}
h2{
  margin: 3rem 0 1rem 0;
  text-transform: capitalize;
  &:first-of-type{
      margin-top: 1rem;
  }  
}
main{
    display: grid;
    height: 100%;
}
#main_header{
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid rgba(var(--text-color), .1);
}
#side_nav_button{
    padding: 0.5rem;
    margin-left: -0.5rem;
}
#backdrop{
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
}
#side_nav,
.right{
    max-height: 100%;
    overflow-y: auto;
    padding-bottom: 3rem;
}
#side_nav{
    h4{
        font-size: 0.9rem;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        padding: 1.5rem;
    }
}
.right{
    padding: 1.5rem;
    h1{
        margin-bottom: 1.5rem;
    }
}
.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
}
.list__item{
    display: flex;
    padding: 0.8rem 1.5rem;
    text-transform: capitalize;
    &--active{
        color: var(--accent-color);
        background: rgba(var(--text-color), .06);
    }
}
.card{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    border-radius: 0.4rem;
    padding: 1.5rem;
    min-width: min(24rem, 80%);
    background-color: rgba(var(--text-color), .06);
}
sm-carousel{
    margin-bottom: 1rem;
}
sm-tab-header{
    margin-bottom: 1.5rem;
}
.page{
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}
ol{
    padding: 0.6rem 1rem;
    li{
        margin-bottom: 1rem;
        &:last-of-type{
            margin-bottom: 0;
        }
        &::first-letter{
            text-transform: capitalize;
        }
    }
}
#total_components_count{
    font-size: 4rem;
}
#components_selection_list{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    padding: 1.5rem 0 3rem 0;
}
.comp-checkbox__title{
    margin-left: 0.5rem;
}
@media screen and (max-width: 640px){
    main{
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
    }
    #side_nav{
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 5;
        height: 100%;
        width: calc(100% - 4rem);
        transition: transform 0.3s;
        background-color: rgba(var(--foreground-color), 1);
        box-shadow: 0.5rem 0 2rem rgba(0,0,0, 0.1);
        &:not(.reveal){
            transform: translateX(-100%);
        }
    }
    .reveal{
        transform: none;
    }
}
@media screen and (min-width: 640px){
    #main_header{
        padding: 1rem 1.5rem;
        grid-area: main-header;
    }
    #side_nav_button{
        display: none;
    }
    main{
        grid-template-columns: 14rem minmax(0, 1fr);
        grid-template-areas: 'main-header main-header' '. .';
    }   
    .right{
        display: grid;
        grid-template-columns: 1fr 90% 1fr;
        & > * {
            grid-column: 2/3;
        }
    }
    #overview_page{
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr auto;
        & > div:first-of-type{
            grid-column: 2/3;
            text-align: right;
        }
        & > div:nth-of-type(2){
            grid-row: 1/2;
        }
    }
}
@media (any-hover: hover){
    ::-webkit-scrollbar{
        width: 0.5rem;
        height: 0.5rem;
    }
    
    ::-webkit-scrollbar-thumb{
        background: rgba(var(--text-color), 0.3);
        border-radius: 1rem;
        &:hover{
            background: rgba(var(--text-color), 0.5);
        }
    }
    .list__item:hover{
        background: rgba(var(--text-color), .1);
        cursor: pointer;
    }
}